/*
 0. reset - Hacer un reset para resetar los estilos del user-agent
 ******************************************************************
*/



/*
* Clearflix
************************************************************************
*/

.clearflix{
	overflow: auto;
}


/*
* 1. @Keyframes o animaciones
***************************************************
*/


/*
2. se da estilo a todas las etiquetas y tengan el mismo estilo, la base
*************************************************************************
*/
iframe{
	width: 560px;
	height: 315px;

}

table{
	width: 100%
}

table, th, td {
	border: 1px solid #003580;
	
}

th, td {
  text-align: center;
  padding: 10px;
}

/*
3. clases comunes (class, id,...)
****************************************************
*/

.container{
	padding-top: 10px;
}


/*
4. layouts - secciones de la web (cabecera, menus, pies)
**********************************************************
*/



/*
5. media query para response Responsive Web Design
************************************************************************
*/