/*
 0. reset - Hacer un reset para resetar los estilos del user-agent
 ******************************************************************
*/



/*
* Clearflix
************************************************************************
*/

.clearflix{
	overflow: auto;
}


/*
* 1. @Keyframes o animaciones
***************************************************
*/


/*
2. se da estilo a todas las etiquetas y tengan el mismo estilo, la base
*************************************************************************
*/


iframe{
	width: 660px;
    height: 380px;

}

table{
	width: 100%
}



th, td {
  text-align: center;
  padding: 10px;
}

p {
	text-align: justify;
}

/*
3. clases comunes (class, id,...)
****************************************************
*/

.container{
	padding-top: 10px;
}

nav img {
	width:25px;
	heigth: 25px;
}

img.inactive {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

/*
4. layouts - secciones de la web (cabecera, menus, pies)
**********************************************************
*/



/*
5. media query para response Responsive Web Design
************************************************************************
*/